include README.md
include LICENSE
include STYLE_GUIDE.md
include requirements.txt
include requirements-dev.txt
include signtraker/py.typed

recursive-exclude tests *
recursive-exclude docs *
recursive-exclude examples *
recursive-exclude .github *
global-exclude __pycache__ *.py[cod] *.so .DS_Store
